            </div>
        </section>
        <footer class='container-wrapper'>
            <div class='app-footer container'>
                &middot; <a href='/'>grp.space</a> &middot;
            </div>
        </footer>
        <% if (typeof env == 'undefined') env = {} %>
        <%- include('env', env) -%>
        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/simplewebrtc.bundle/index.js"></script>
        <% if (typeof scripts == 'object') { %>
            <% for (var i in scripts) { %>
                <script src="<%= scripts[i] %>"></script>
            <% } %>
        <% } %>
    </body>
</html>
