<!doctype html>
<html lang='en'>
    <head>
        <title>grp.space</title>
        <link rel='stylesheet' href='/css/normalize.css'>
        <link rel='stylesheet' href='/css/type.css'>
        <link rel='stylesheet' href='/css/app.css'>
        <link rel='stylesheet' href='/css/video.css'>
        <link rel='stylesheet' href='/css/chat.css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <span class='app-stripe'></span>
        <% if (typeof nav != 'undefined' && nav) { %>
            <%- include('navigation') -%>
        <% } %>
        <section class='container-wrapper'>
            <div class='app-content container'>
