<section class='app-navigation container-wrapper'>
    <nav class='container'>
        <a href='#main' class='nav-logo'>
            grp.space
        </a>
        <a href='#1' class='nav-item'>
            Documentation
        </a>
        <a href='#2' class='nav-item active'>
            Getting Started
        </a>
        <a href='#3' class='nav-item'>
            About
        </a>
        <span class='clearfix'></span>
    </nav>
</section>
