<%- include('common/partials/header', {'nav' : false }) -%>
<h2>
    <i class='fa fa-fw fa-anchor'></i>
    This is a website&hellip;
</h2>
<p>This is some content.</p>
<%- include('common/partials/footer') -%>
