<%- include('../common/partials/header') -%>

<h3>Welcome to <%= room %></h3>

<video id='vid-self' autoplay></video>

<%- include('../common/partials/footer', { scripts : [
    '/js/common.js',
    '/js/room.js'
]}) -%>
