<%- include('../common/partials/header') -%>

<h3>[<%= room %>]</h3>

<div id='video-remotes'>
</div>

<video height='300' class='video-local' id='video-local' autoplay></video>

<%- include('../common/partials/footer', { scripts : [
    '/js/common.js',
    '/js/room.js'
]}) -%>
