<%- include('../common/partials/header') -%>

<p>[<%= room %>]</p>

<div class='video-remotes' id='video-remotes'>
</div>

<video class='video-local video' id='video-local' autoplay></video>

<%- include('../common/partials/footer', { scripts : [
    '/js/common.js',
    '/js/room.js'
]}) -%>
