<div class='chat-container'>
    <div class='chat-entries'>
    </div>
    <div class='chat-control'>
        <input type='text' class='chat-input-message'></input>
        <button type='button' class='chat-input-send'>send</button>
    </div>
</div>
