* { box-sizing : border-box; }

$background        : #fefefe;
$app-col-primary   : #D87777;
$app-col-secondary : #FBE8A4;
$app-col-tertiary  : #91C8E2;

$app-font-col : #333;
$app-logo-col : #444;
$app-footer-col : #ccc;


$nav-border       : #e0e0e0;
$nav-radius       : 4px;
$nav-border-style : solid;
$nav-background   : #F5F5F5;

html {
    height : 100%;
    color  : $app-font-col;
    background  : none repeat scroll 0% 0% $background;
}

.app-stripe {
    display : block;
    width   : 100%;
    height  : 24px;

    border-top       : 8px solid $app-col-primary;
    background-color : $app-col-secondary;
    border-bottom    : 8px solid $app-col-tertiary;
}

.container-wrapper {
    display : block;
    width   : 100%;
}

.container {
    width        : 680px;
    margin-left  : auto;
    margin-right : auto;
}

.page-controls {
    background-color : #F5E8F3;
    border-bottom    : 1px solid #FFD4FC;
}
.page-title {
    float   : left;
    margin  : 0;
    padding : 16px 0px;
    color   : #D87777;
}
.page-actions {
    float   : right;
    padding : 16px 0px;
}
.page-action {
    float: left;
    background-color: #fff;
    border: 1px solid #FFD4FC;
    padding: 4px 12px;
    margin: 0px 3px;
    border-radius: 4px;
}

.app-content {
    padding    : 20px 0px;
    min-height : 240px;
}

.app-footer {
    color       : $app-footer-col;
    font-size   : 13px;
    margin-top  : 40px;
    padding     : 40px 0px;
    border-top  : 1px dashed #ccc;
}

.app-footer > a {
    color : $app-footer-col;
}

.app-navigation {
    padding-top      : 12px;
    border-bottom    : 1px $nav-border-style $nav-border;
    background-color : $nav-background;
}

.nav-item, .nav-logo {
    float   : left;
    display : inline-block;
    padding : 8px 12px;
    color   : #444;

    margin-bottom : -1px;
}

.nav-item.active {
    border-bottom : 1px solid $background;
    border-left   : 1px $nav-border-style $nav-border;
    border-top    : 1px $nav-border-style $nav-border;
    border-right  : 1px $nav-border-style $nav-border;

    border-top-left-radius  : $nav-radius;
    border-top-right-radius : $nav-radius;

    background-color : $background;
}

.nav-logo {
    font-weight : bold;
    color       : $app-logo-col;
}

.app-navigation > nav > :first-child {
    margin-left : -12px;
}

.nav-item:not(.active):hover {
    background-color : #ddd;
}

.clearfix:after {
  content : " ";
  display : table;
}

.clearfix:after {
  clear : both;
}
