.video-remotes > video {
    border : 1px solid #333;
    vertical-align: top;
    height : 200px;
    background-color: #666;
}

.video-remotes {
    padding : 8px 0px;
}

.video-local {
    height : 100px;
}
